async-generator==1.10
async-lru==1.0.1
backcall==0.1.0
better-profanity==0.6.1
colorama==0.4.3
Cython==0.29.17
decorator==4.4.2
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
parso==0.7.0
pickleshare==0.7.5
Pillow==7.1.2
prompt-toolkit==3.0.5
pyaes==1.6.1
Pygments==2.6.1
Pyrogram===0.17.0-async
PySocks==1.7.1
six==1.14.0
tesserocr==2.4.0
TgCrypto==1.2.0
traitlets==4.3.3
wcwidth==0.1.9
